body {
  background: black;
  font-family: Arial, sans-serif;
  color: white;
  line-height: 1.428571429;
  background: url("img/Background.jpg");
  background-size:100%;
  background-position:top;
  background: cover;
}

/* .navbar {
  background: #ffffff;
} */

.main_content{
  
}
.row{
 
}
.row32{
  
  margin-left:25%;
}
.row12{
  margin-top: 20%;
  margin-left:25%;
}
.movie_image {
  margin-bottom:10px;
  background: rgb(36, 33, 33);
  
 
  box-shadow: 0 1px 1px #aaaaaa;
  font-size: 12px;
  font-style: inherit;
  padding-top: 4px;
 
 
}
.anhnho .movie_image{
  width: 255px;
  height:490px ;
}
.anhnho .movie_image  img{
  text-align: center;
  margin-bottom:20px;
  width: 255px;
  height:330px ;
  font-size: 32px;
  font-style: bold;
 
}
.movie_image  img{
   width: 730px;
  height:1030px  ;
}
.movie_image h5{
  text-align: center;
}
.movie_image p{
  color :white;
  padding: 0 10px;
  margin-bottom: 10px;

}
.actor_image {
  margin-bottom:10px;
  background: rgb(36, 33, 33);
  
 
  box-shadow: 0 1px 1px #aaaaaa;
  font-size: 12px;
  font-style: inherit;
  padding-top: 4px;
 
 
}
li{
  margin-top:20px
}
.anhnho .actor_image{
  width: 255px;
  height:490px;
}
.anhnho .actor_image img{
  text-align: center;
  margin-bottom:20px;
  width: 255px;
  height:330px ;
  font-size: 32px;
  font-style: bold;
 
}

.actor_image h5{
  text-align: center;
}
.actor_image p{
  color :white;
  padding: 0 10px;
  margin-bottom: 10px;

}
ul { list-style-type: none; }